@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary{
  background-color: black;
  color:white
}
@layer base {
  @font-face {
    font-family: "Poppins";
    src: url(./Fonts/Poppins-Regular.ttf);
  }
  * {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  .sidebar-container {
    @apply bg-stone-900 h-[96%] w-[20rem] rounded-3xl ml-6
    p-4 border transition-all duration-500 border-solid
    border-gray-300 relative shadow-lg
  }
  .sidebar {
    @apply flex items-center mt-2 p-4 rounded-lg
    cursor-pointer hover:bg-neutral-700 transition-all
    duration-300
  }
  ::-webkit-scrollbar {
    width: 2px; /* Ajusta este valor para cambiar el ancho */
  }
  
  /* Color de fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: transparent; /* Cambia este color si es necesario */
  }
  
  /* Estilo de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #818181; /* Cambia este color si es necesario */
    
  }
  .placeholder {
    color: text-neutral-900
  }
  .bg-section {
    background-image: url(../assets/landscape2.jpg);
    background-size:100%;
  }
}
